<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>

<h1>Edit A Landmark</h1>

<form action="/landmarks/<%=@landmark.id%>" method="post">
  <input id="hidden" type="hidden" name="_method" value="patch">
  <label id="name"> Name: </label> <input id="name" type="text" name="landmark[name]" value="<%=@landmark.name%>"> <br>

  <label id="year_completed"> Year Completed: </label> <input id="year_completed" type="text" name="landmark[year_completed]" value="<%=@landmark.year_completed%>"> <br>

  <label> Figure: </label> <input type="text" name="landmark[figure_id]" value="<%=@landmark.figure_id%>"> <br>
  
  <input type="submit" value="Edit Landmark"> <br>
</form>
</form>



  </body>
</html>
