<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <% @landmarks.each do |landmark| %>
      <p><%= landmark.name%> - <%= landmark.year_completed%></p>
    <% end %>
  </body>
</html>
