<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h1>Landmarks</h1>

<ul>
<% @landmarks.each do |place| %>

  <li><%=place.name%> - <%=place.year_completed%></li>

<% end %>
</ul>

  </body>
</html>
