<form method="POST" action="/landmarks">
  <p><label for="landmark_name">Name:</label></p>
  <input id="landmark_name" type="text" name="landmark[name]">
  <!-- <p><label for="POST-figure_id">Figure:</label></p>
  <input id="POST-figure_id" type="text" name="landmark[figure_id]"> -->
  <p><label for="landmark_year_completed">Year Completed:</label></p>
  <input id="landmark_year_completed" type="text" name="landmark[year_completed]">
  <p><input type="submit" value="submit"></p>
</form>
