<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <form  action="/landmarks" method="post">
      <p>Landmark Name: <input id="landmark_name" type="text" name="landmark[name]"></p>
      <p>Year Completed: <input id="landmark_year_completed" type="text" name="landmark[year_completed]"></p>

      <button type="submit" value="submit">Create New Landmark</button>
    </form>
  </body>
</html>
