<form action="/landmarks" method="post">
  <label id="landmark_name"></label>Name: <input type="text" id="landmark_name" name="landmark[name]" placeholder="Name"><br>
  Year Completed: <input type="text" name="landmark[year_completed]" id="landmark_year_completed" placeholder="Year Completed"><br>
  Figure: <input type="text" name="landmark[figure_id]" id="landmark_figure_id" placeholder="Figure"><br>
  <input type="submit" value="Create New Landmark"><br>
</form>
