<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
<h1>Create a New Landmark</h1>

 <form action="/landmarks" method="post">
   <label id="landmark_name"> Name: </label> <input id="landmark_name" type="text" name="landmark[name]" placeholder="Name"> <br>

   <label> Year Completed: </label> <input id="landmark_year_completed" type="text" name="landmark[year_completed]" placeholder="Year Completed"> <br>
   
   <label> Figure: </label> <input id="landmark_figure" type="text"  name="landmark[figure_id]" placeholder="Figure"> <br>
   <input type="submit" value="Create New Landmark"> <br>
 </form>




  </body>
</html>
