<!DOCTYPE html>

<form method="post" action="/landmarks">
  <input type="text" name="landmark[name]" placeholder="Name">
  <input type="text" name="landmark[year_completed]" placeholder="Year Completed">
  <input type="submit" value="Submit">
</form>
