<!DOCTYPE html>

<form method="post" action="/figures/<%=@figure.id%>">
  <input type="hidden" name="_method" value="patch">

  <input id="name" type="text" name="figure[name]" placeholder="<%=@figure.name%>">
  <input id="year_completed" type="text" name="figure[year_completed]" placeholder="<%=@figure.year_completed%>">
  <!--  figure[name], figure[title_ids], figure[landmark_ids], landmark[name], title[name]-->
  <input type="submit" value="Edit Figure">
</form>
