<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>ridiculous</title>
  </head>
  <body>
    <ul>
    <% @figures.each do |figure| %>
    <li><%= figure.name %></li>
    <% end %>
  </ul>
  </body>
</html>
