<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h1>Figures</h1>
    <ul>

    <% @f.each do |f| %>
    <li><%= f.name %> </li>
    <% end %>

    </ul>
  </body>
</html>
