<table>
  <tr>
    <th>Figure Name</th>
    <th>Figure Titles</th>
    <th>Figure Landmarks</th>
  </tr>
  <tr>
    <td><%= @figure.name %></td>


    <% @figure.titles.each do |title| %>
               <td><%=title.name%></td>
    <% end %>
    <td></td>

    <% @figure.landmarks.each do |landmark| %>
               <td><%=landmark.name%></td>
    <% end %>
    <td></td>

  </tr>
<table>
